---
import IndexLayout from "../layouts/IndexLayout.astro";

const title = 'Constantly evolving my problem-solving, development, and leadership skills.';
---

<IndexLayout>
  <div>
    <div><h2>{title}</h2></div>
    <div>
      <ul>

      </ul>
    </div>
  </div>
</IndexLayout>
