---
import { SITE } from "../../config";
const site = SITE;
---

<header class="fixed z-10 flex h-12 w-screen overflow-hidden bg-[#2a233e] p-2 items-center">
  <nav class="flex w-full gap-2 items-center" aria-label="">
    <div dir="ltr" lang="en" class="flex shrink-0 grow gap-1 p-1 font-semibold">
          <a class="" href={site.url}>
            <span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 554 90" class="iconLeft h-8">
								<g
								id="b9623c57-43b9-428f-bcd7-0101b9ea4fe1"
								fill="#e0e0e0"
								transform="matrix(6.0180540013045345,0,0,6.0180540013045345,103.74123795300957,10.787361019130081)">
								<path
								d="M1.04 0.98L1.04 10.50L4.83 10.50C6.73 10.50 7.92 9.67 7.92 7.77C7.92 6.54 7.50 5.95 6.69 5.60C7.45 5.12 7.74 4.58 7.74 3.50C7.74 1.68 6.69 0.98 4.77 0.98ZM4.73 6.52C5.50 6.52 5.96 6.89 5.96 7.67C5.96 8.61 5.53 8.85 4.73 8.85L2.97 8.85L2.97 6.52ZM4.68 2.63C5.40 2.63 5.78 2.97 5.78 3.75C5.78 4.51 5.45 4.90 4.69 4.90L2.97 4.90L2.97 2.63ZM9.48 10.50L11.35 10.50L11.35 0.70L9.48 0.70ZM18.54 5.68C18.54 4.05 17.81 3.33 15.99 3.33C14.64 3.33 13.15 3.74 13.15 3.74L13.20 5.04C13.20 5.04 14.91 4.93 15.83 4.93C16.39 4.93 16.66 5.08 16.66 5.68L16.66 6.12L15.16 6.23C13.62 6.34 12.71 6.79 12.71 8.37C12.71 9.86 13.41 10.67 14.88 10.67C15.93 10.67 16.94 10.18 16.94 10.18C17.53 10.57 18.00 10.67 18.94 10.67L19.00 9.25C18.62 9.18 18.56 9.02 18.54 8.60ZM16.66 7.42L16.66 8.92C16.66 8.92 15.89 9.14 15.29 9.14C14.78 9.14 14.60 8.81 14.60 8.32C14.60 7.81 14.90 7.57 15.39 7.53ZM26.28 0.70L24.40 0.70L24.40 3.53C24.40 3.53 23.41 3.33 22.89 3.33C20.99 3.33 19.99 4.41 19.99 6.97C19.99 9.44 20.61 10.67 22.72 10.67C23.44 10.67 24.42 10.21 24.42 10.21L24.42 10.50L26.28 10.50ZM23.04 8.99C22.16 8.99 21.90 8.40 21.90 6.97C21.90 5.56 22.33 4.96 23.03 4.96C23.63 4.96 24.40 5.10 24.40 5.10L24.40 8.78C24.40 8.78 23.70 8.99 23.04 8.99ZM30.97 9.02C29.96 9.02 29.57 8.64 29.55 7.80L33.67 7.80L33.81 6.50C33.81 4.38 32.82 3.33 30.76 3.33C28.71 3.33 27.66 4.61 27.66 7.10C27.66 9.62 28.56 10.67 30.67 10.67C31.98 10.67 33.59 10.28 33.59 10.28L33.56 8.89C33.56 8.89 32.12 9.02 30.97 9.02ZM29.54 6.37C29.55 5.31 29.86 4.87 30.76 4.87C31.64 4.87 31.96 5.24 31.96 6.37ZM41.31 8.76C40.75 8.85 39.56 8.96 38.92 8.96C37.27 8.96 36.93 8.30 36.93 5.74C36.93 3.04 37.39 2.52 38.86 2.52C39.49 2.52 40.67 2.63 41.31 2.73L41.37 1.19C40.78 1.05 39.58 0.81 38.58 0.81C35.76 0.81 34.94 2.13 34.94 5.74C34.94 9.07 35.64 10.67 38.58 10.67C39.45 10.67 40.71 10.49 41.36 10.35ZM45.50 3.33C43.06 3.33 42.28 4.83 42.28 6.99C42.28 9.14 43.06 10.67 45.50 10.67C47.94 10.67 48.72 9.14 48.72 6.99C48.72 4.83 47.94 3.33 45.50 3.33ZM45.50 9.07C44.46 9.07 44.18 8.34 44.18 6.99C44.18 5.63 44.46 4.93 45.50 4.93C46.54 4.93 46.82 5.63 46.82 6.99C46.82 8.34 46.54 9.07 45.50 9.07ZM55.45 5.68C55.45 4.05 54.73 3.33 52.91 3.33C51.56 3.33 50.06 3.74 50.06 3.74L50.12 5.04C50.12 5.04 51.83 4.93 52.75 4.93C53.31 4.93 53.58 5.08 53.58 5.68L53.58 6.12L52.08 6.23C50.54 6.34 49.63 6.79 49.63 8.37C49.63 9.86 50.33 10.67 51.80 10.67C52.85 10.67 53.86 10.18 53.86 10.18C54.45 10.57 54.92 10.67 55.86 10.67L55.92 9.25C55.54 9.18 55.48 9.02 55.45 8.60ZM53.58 7.42L53.58 8.92C53.58 8.92 52.81 9.14 52.21 9.14C51.70 9.14 51.52 8.81 51.52 8.32C51.52 7.81 51.81 7.57 52.30 7.53ZM61.12 5.10L61.12 3.50L59.40 3.50L59.40 1.55L57.53 1.55L57.53 3.50L56.70 3.50L56.70 5.10L57.53 5.10L57.53 8.01C57.53 10.02 58.02 10.67 59.71 10.67C60.20 10.67 61.14 10.46 61.14 10.46L61.05 8.96C61.05 8.96 60.38 8.99 59.99 8.99C59.40 8.99 59.40 8.67 59.40 7.97L59.40 5.10ZM65.30 9.02C64.29 9.02 63.90 8.64 63.88 7.80L68.00 7.80L68.14 6.50C68.14 4.38 67.14 3.33 65.09 3.33C63.04 3.33 61.99 4.61 61.99 7.10C61.99 9.62 62.89 10.67 65.00 10.67C66.30 10.67 67.91 10.28 67.91 10.28L67.89 8.89C67.89 8.89 66.44 9.02 65.30 9.02ZM63.87 6.37C63.88 5.31 64.19 4.87 65.09 4.87C65.97 4.87 66.29 5.24 66.29 6.37ZM74.54 3.70C74.54 3.70 72.83 3.35 71.82 3.35C70.35 3.35 69.12 4.00 69.12 5.63C69.12 7.17 69.92 7.53 71.43 7.78C72.72 7.99 72.87 8.13 72.87 8.44C72.87 8.81 72.63 8.99 71.74 8.99C71.02 8.99 69.29 8.76 69.29 8.76L69.23 10.33C69.23 10.33 70.88 10.67 71.92 10.67C73.67 10.67 74.73 10.04 74.73 8.40C74.73 6.99 74.16 6.51 72.53 6.22C71.25 5.98 70.98 5.91 70.98 5.59C70.98 5.21 71.15 5.03 71.96 5.03C72.77 5.03 74.51 5.25 74.51 5.25Z"></path></g><!----><g data-v-423bf9ae="" id="41842a90-7529-486c-b2fd-32b67661b3c2" transform="matrix(2.8125,0,0,2.8125,0,0)" stroke="none" fill="#f37c07"><path d="M16 32c8.837 0 16-7.163 16-16S24.837 0 16 0 0 7.163 0 16s7.163 16 16 16zM14.817 6.421h2v8.886h8.887v2H14.817V6.421zm-5.959.437h2v14.283h14.283v2H8.858V6.858z">
									</path>
								</g>
							</svg></span>
          </a>
    </div>
    <div class="flex shrink-0 grow justify-end p-1 pr-4 font-semibold">
      <ul class="flex grow-0 gap-2">
        <li class="grow-0"><a href="/about" class=""><span>About</span></a></li>
        <li class="grow-0"><a href="/blog" class=""><span>Blog</span></a></li>
      </ul>
    </div>
  </nav>
</header>

<style>

</style>
