---
import BaseLayout from "./BaseLayout.astro";
import IndexContent from "../components/PageContent/IndexContent.astro";
import Infobox from "../components/Infobox/Infobox.svelte";

const { content = {}, title = "" } = Astro.props;
const headings = Astro.props.headings;
---

<BaseLayout {...Astro.props}>
  <IndexContent {...{ content, title }}>
    {
      headings && (
        <Fragment slot="before-article">
          //{' '}
          <nav>
            // <Infobox client:media="(max-width: 72em)" isMobile={true} />
            //{' '}
          </nav>
        </Fragment>
      )
    }
    <Fragment slot="after-title"><slot name="header" /></Fragment>
    <slot />
  </IndexContent>

</BaseLayout>
