---
import { SITE } from "../config";
import PostContent from "../components/PageContent/PostContent.astro";
import Infobox from "../components/Infobox/Infobox.svelte";
import BaseLayout from "./BaseLayout.astro";
import Giscus from "@giscus/svelte";

const { content, title, headings, post } =
  Astro.props.frontmatter || Astro.props;
// TODO: Remove use of `content.astro.headings`
---

<BaseLayout {...Astro.props}>
  <PostContent {...{ content, post }}>
    {
      headings && (
        <Fragment slot="before-article">
          <nav>
            <Infobox
              client:media="(max-width: 72em)"
              isMobile={true}
              date={post.data.pubDate}
              tags={post.data.tags}
            />
          </nav>
        </Fragment>
      )
    }
    <Fragment slot="after-title"><slot name="header" /></Fragment>
    <slot />
  </PostContent>
</BaseLayout>
